body {
  background-color: blue;
  color: white;
  font-family: Arial, Helvetica, sans-serif;

}
 .omar{ 
    background-color: blanchedalmond;
    color: black;


 }
 p {
  background-color: #d4dfec;
  color: #e74e1f;
  border: 3px double #446f94;
  padding: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
 }
 
 
    

                           



 